{
  "parser": "babel-eslint",
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "env": {
    "commonjs": true,
    "es6": true,
    "node": true,
    "browser": true
  },
  "globals": {
    "strapi": true
  },
  "rules": {
    "no-unused-vars": "warn",
    "react/prop-types": "warn"
  }
}
